<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="stdbean" class="examples.StudentBean">
		<property name="rollNo">
			<value>19</value>
		</property>
		<property name="name">
			<value>Siva Harshith Naidu</value>
		</property>
		<property name="collegeName">
			<value>Anurag University</value>
		</property>
	</bean>
</beans>
